<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link rel="stylesheet" href="{{ static_url("style.css") }}">
        <title>双色球</title>
    </head>
    <body>
        <h1>生成双色球</h1>
        <p>点击生成双色球注数(默认1注):</p>
        <form method="post" action="/create">
            <input type="number" name="create" class="form_input" placeholder="1">
        <input type="submit" value="生成">
        </form>
    </body>
</html>
