<!DOCTYPE html>
<html>
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ static_url("style.css") }}">
        <title>机选双色球</title>
    </head>
    <body>
        <h1>您机选了{{ How_balls }} 注双色球:</h1>
        <p>
           <b></b><span>时间：{{ Date }}</span></b></br>
	   <div class="container">
	   <table>
              <thead>
                 <tr>
	            <th>注数</th>
                    <th>红球</th>
                    <th>蓝球</th>
                 </tr>
              </thead>
              <tbody>
              {% for i,ball in Balls %}
                 <tr>
		     <td> {{ i+1 }} </td>
	             <td>{{ ball['Red'] }} </td>
		     <td>{{ ball['Blue'] }} </td>
                 </tr>
              {% end %}
              </tbody>
          </table>
	   </div>
	  <!--    <span> 红球:{{ ball['Red'] }} -- 蓝球:{{ ball['Blue'] }} </span> </br> -->
        </p>
        <!-- 返回首页 -->
        <form action="/">
       <button type="submit">返回首页</button>
       </form>
    </body>
</html>
